/* @import "tailwindcss"; */
@import './reset.css';
@import './mixins.scss';
@import './variables.scss';


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body {
  color: $foreground;
  background-color: $background;
  font-family: var(--font-comfortaa), Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  height: 100%;
  padding: 8px;
}

a {
  color: $gray-color;
  text-decoration: none;
  font-weight: 500;
  transition: .25s;
}
.link:hover {
  color: $foreground;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
}

.container {
  all: inherit;
  padding: $padding-m;
}