@import '../../app/styles/variables.scss';

.link {
  padding: .25rem 1.25rem;
  color: $gray-color;
  display: flex;
  gap: .5rem;
  align-items: center;
  border-bottom: 1px solid transparent;
}

.linkActive {
  color: $foreground;
  border-color: $foreground;
}
