@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $gap-m;
  padding: $glass-pad-x;
  @include card(600px);
}
.form {
  all: inherit;
}
.subtitle {
  color: $gray-color;
  font-size: small
}
