@import '../../app/styles/variables.scss';
@import '../../app/styles/mixins.scss';

.container {
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.nav {
	display: flex;
	gap: .5rem;
}