$background: #0a0a0a;
$foreground: #ededed;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body {
  color: $foreground;
  background: $background;
  font-family: var(--font-comfortaa), Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  display: flex;
  gap: 16px;
}

main {
  width: 100%;
  height: 100%;
  padding: 8px;
}

a {
  color: #383838;
  text-decoration: none;
  font-weight: 500;
  transition: .25s;
}

.nav_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  gap: 8px;
}

.container {
  all: inherit;
  padding: 16px;
  background-color: rgba(#202020, .5);
  border: 1px solid #383838;
  border-radius: 24px;
}