@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $gap-m;
  padding: $glass-pad-x;
  @include card(600px);
}

.hero {
  text-align: center;
  h1 {
    font-size: 30px;
  }
  p {
    color: $gray-color;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: $gap-m;
}
.form_inputContainer {
  display: flex;
  flex-direction: column;
  gap: $gap-xs;
}

.oauth_container {
  display: flex;
  gap: $gap-l;
}

.message_container {
  width: 280px;
}
.svg_container {
  width: 180px;
}